input{
    outline:none;
    border: 0px ;
    border-radius: 20px;
    height: 30px;
    padding-left: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: #b3d4fc;
}

textarea{
    outline: none;
    border: 0px ;
    resize: none;
    border-radius: 20px;
    background-color: #b3d4fc;
    padding: 10px 0px 0px 10px;
    width: 100%;
    box-sizing: border-box;
}

.button{
    border-radius: 20px;
    background-color: #7db6fc;
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40px; 
    cursor: pointer;
}

.button:hover{
    background-color: #3690fd;
    grid-template-columns: auto auto auto;
}

.cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container{
    margin: 80px 20px 0px 20px;
}

.item{
    flex: 0 0 calc(100% - 0px);
}

.headerDiv{
    color: white;
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0px;
    height: 60px;
    transition-duration: 5s;

    background-image: url("https://i.pinimg.com/originals/0c/32/9e/0c329ea96dbf30e80bc09b7679a0d518.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    }

@media only screen and (min-width: 600px) {
    .item{
        flex: 0 0 calc(50% - 0px);
    }
  }
  @media only screen and (min-width: 960px) {
    .item{
        flex: 0 0 calc(33% - 0px);
    }
  }
  @media only screen and (min-width: 1280px) {
    .item{
        flex: 0 0 calc(25% - 0px);
    }
  }



  